<h1><i class="fas fa-book-reader"></i>StoryBooks</h1>
<div class="section">
    <p class="lead">Create Public and Private stories form your life</p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login with Google
    </a>
</div>